body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}
.container {
    width: 50%;
    margin: 0 auto;
}
.heading {
    text-align: center;
}
.section {
    margin: 60px 0 20px 0;
}
.subsection {
    margin: 10px 0 30px 0;
}
.bold { 
    font-weight: bolder;
}
.row {
    margin-bottom:10px;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
}
#story_edit {
    height:200px;
    width: 100%;
}
.editbox{
    width: 100%;
}
.submit{
    margin: 10px 0 0 0;
    width: 100%;
}